<!-- Special editor for powers. -->
<!--   `power - The power being edited. -->
<div class="cs-list-item-head">
    <input class="cs-power-used" type="checkbox" ng-hide="power.used === undefined" ng-model="power.used" />
    <a href="" class="cs-power-name cs-list-item-name">{{ power.name }}</a>
</div>
<div class="cs-list-item-body cs-power-body">
    <div ng-init="power._edit = false;" ng-show="power._edit">
        <div class="cs-list-item-buttons container">
            <a href="" class="cs-list-item-edit col-xs-6" ng-disabled="true" ng-click="power._edit = false"><i class="fa fa-edit"></i> Done</a>
            <a href="" class="cs-list-item-remove col-xs-6" ng-click="removeFrom(c.data.powers, power)"><i class="fa fa-trash-o"></i> Remove</a>
        </div>
        <label>Flavor Text</label>
        <textarea class="cs-power-flavor" ng-model="power.flavor"></textarea>
        <label>Properties</label>
        <input class="cs-power-properties" ng-model="power.properties" />
        <label>Range</label>
        <input class="cs-power-range" ng-model="power.range" />
        <label>Target</label>
        <input class="cs-power-target" ng-model="power.target" />
        <label>Attack Roll</label>
        <div class="cs-power-attack"><input ng-model="power.attack.source" /> vs <input ng-model="power.attack.target" /></div>
        <label>Description</label><!-- TODO: [ABIL] highlighting filter. -->
        <textarea class="cs-power-desc" ng-model="power.description"></textarea>
        <label>Source</label>
        <input class="cs-power-source" ng-model="power.source" />
    </div>
    <div ng-hide="power._edit">
        <div class="cs-list-item-buttons container">
            <a href="" class="cs-list-item-edit col-xs-12" ng-disabled="true" ng-click="power._edit = true"><i class="fa fa-edit"></i> Edit</a>
        </div>
        <p ng-show="power.properties">{{ power.properties }}</p>
        <p ng-show="power.range">{{ power.range }}</p>
        <p ng-show="power.target">{{ power.target }}</p>
        <div ng-show="power.attack.source && power.attack.target">{{ power.attack.source }} vs. {{ power.attack.target }}</div>
        <p ng-show="power.description" ng-bind-html="power.description | powerHighlight"></p>
    </div>
</div>