.cs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-list-new-form {
    margin: 5px;
    height: 34px;
}
.cs-list-new-value {
    .cs-value-field(70%);
    .text-left;
    float: left;
}
.cs-list-new-button {
    .btn;
    .btn-default;
    float: right;
    margin-left: 10px;
    width: 25%;
    :hover {
        border: 1px solid @input-border-focus;
    }
}
.cs-list-item input, .cs-list-item textarea {
    .cs-seamless-input;
    padding: 0;
    width: 100%;
}
.cs-list-item {
    margin: 5px 0;
    border: 1px solid transparent;
    &.active {
        background: @gray-darker;
        border: 1px solid #111;
    }
    &:not(.active):hover {
        border: 1px solid #111;
    }
}

.cs-list-item-buttons {
    width: auto;
    margin: 0 -8px 8px -8px;
    padding: 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
.cs-list-item-buttons > * {
    .cs-pressable();
    color: @link-color;
    text-align: center;
    border: none;
    display: block;
    padding: 5px;
    margin: 0;
    background-color: @gray-darker;
    font-weight: bold;
    &:not(:first-child) {
        border-left: 1px solid #111;
    }
}
.cs-list-item-body {
    padding: 0 8px 8px 8px;
    display: none;
}
.cs-list-item.active .cs-list-item-body {
    display: block;
}
.cs-list-item-body > * {
    display: block;
}
.cs-list-item-head {
    padding: 0 5px;
    .cs-pressable();
}
.cs-list-item-name {
    .panel-title;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 5px 5px;
    margin: 0 -5px; padding-left: 5px;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
.cs-list-item-remove {
    color: @brand-danger;
    cursor: pointer;
    &:hover {
        color: fade(@brand-danger, 80%);
    }
}

/* Remove button inline with item name. */
.cs-list-item > .cs-list-item-remove {
    .pull-right;
    font-size: 18px;
    color: @brand-danger;
    margin: 2px 5px 0 0;
    &:hover {
        color: fade(@brand-danger, 80%);
    }
}

.cs-block-label {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 5px;
}
.cs-field-block textarea {
    .cs-seamless-input;
    display: block;
    width: 100%;
}

.cs-field-subgroup {
    #gradient.horizontal(@body-bg, @input-bg);
    border-top: @input-border;
    border-bottom: @input-border;
    margin: 0; padding: 0;
    margin-left: 5px;
}