@import "bootstrap/bootstrap.less";

@input-border-focus: #66afe9;
@input-bg: #111;
@input-border: #555;
@input-padding: 6px 12px;
@state-danger-color: #c9514c;
@state-danger-text: @state-danger-color;
@btn-default-bg: @input-bg;
@btn-default-border: @input-border;
@btn-default-color: #ccc;

body {
    background: #333 url('images/drow-ranger-wallpaper.jpg') no-repeat left top;
    padding-top: @navbar-height;
}

/* ====== MENU BAR ======= */
.app-bar {
    .navbar;
    .navbar-inverse;
    .navbar-fixed-top;
    margin: 0;
}

.app-logo {
    .navbar-brand;
    color: #ddd;
}

.app-playing-as {
    .text-muted;
    font-size: 80%;
}

.user-menu {
    float: right;
}

.user-menu-links {
    .nav;
    .navbar-nav;

    .user-menu-text {
        color: #ccc;
        &:hover {
            background-color: inherit !important; /* Better than asserting structure bootstrap asserts for these... */
            color: #ccc;
        }
    }

    [ng-click] {
        cursor: pointer;
        text-shadow: none;
        transition: text-shadow 0.1s linear;
        transition: color 0.1s linear;
        &:hover {
            background-color: inherit;
            color: #eee;
            text-shadow: 1px 1px 3px fade(#eee, 0.8);
        }
    }

    [ng-click].disabled {
        color: #666;
        cursor: default;
        &:hover {
            background-color: inherit;
            color: #966;
            text-shadow: 1px 1px 3px fade(#966, 80%);
        }
    }
}

/* Support collapsable menu at lower resolutions. */
@media (max-width: @grid-float-breakpoint)
{
    .user-menu {
        width: 100%;
        text-align: right;
    }
    .user-menu-links {
        margin: 0 -15px;
    }
    .user-menu-links > * {
        border-top: 1px solid #000;
    }
    .user-menu-links > :first-child {
        border-top: none;
    }
    .user-menu-links > li > a {
        padding: 15px;
    }
}

/* Highlight editable inputs for differentiation */
input[type="tel"],input[type="text"] {
    color: @input-border-focus;
}
/* Make text-danger work where needed. */
input[type="tel"].text-danger,
input[type="text"].text-danger,
.cs-value-fakeinput.text-danger {
    color: @state-danger-text;
}

/* ====== CHARACTER SHEET SHARED ======= */
.character-sheet {
    .container-fixed;
    color: #eee;
    opacity: .9;
    background-color: #333;  
    position: fixed;
    width: 100%;
    top: @navbar-height;
    bottom: 0; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cs-section {
    padding: 10px;
    width: 375px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    border-right: 1px solid #000;
    &:last-child {
        border-right: none;
    }

    /* Fit to width on mobile phones. */
    @media (max-width: @screen-xs-min)
    {
        width: 100%;
    }
}

.cs-label-lg {
    font-size: 24px;
    margin-left: 15px;
    font-weight: bold;
}

.cs-label-md {
    font-size: 20px;
    margin-left: 15px;
}

.cs-value-field {
    .form-control;
    .text-center;
    color: #fafafa;
    font-weight: bold;
    font-size: 16px;
    padding: @input-padding;
}

.cs-value-fakeinput {
    .text-center;
    background-color: @input-bg;
    border: 1px solid @input-border;
    padding: 6px 8px;
    border-radius: @input-border-focus;
}

.cs-seamless-input {
    background: #333;
    color: #ccc;
    border: 0;
    .box-shadow(none);
}

.cs-field-block {
    .clearfix;
    white-space: nowrap;
    text-overflow:clip;
    overflow: hidden;
}

.cs-header-block {
    .clearfix;
    font-size: 10px;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
}

.cs-field-block > *,
.cs-header-block > * {
    float: left;
}


.cs-section-header {
    .clearfix;
    background: #111;
    padding: 8px;
    margin: 12px 0 6px;
}
.cs-section-label {
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.cs-section-header-control {
    .cs-seamless-input;
    background: #111;
    color: @input-border-focus;
    padding: 0; margin-top: -3px;
    font-size: 18px;
    text-transform: uppercase;
    height: 23px;
}
.cs-section-header input[type="text"] {
    .cs-section-header-control
}

.cs-section-header button {
    .cs-section-header-control;
    padding-top: 3px;
    height: 23px;
}

.cs-section-control {
    float: right;
}

.cs-no-content {
    .text-center;
    .text-muted;
}

/* ===== ABILITY SCORES ===== */
.cs-abil-value { .cs-value-field; width: 70px; }
.cs-abil-value-label { width: 70px; }

.cs-abil-type { .cs-label-lg; width: 50px; }
.cs-abil-type-label { margin-left: 15px; width: 50px; }


.cs-abil-mod, .cs-abil-mod-hl {
.cs-value-fakeinput;
    margin-left: 20px;
    width: 40px;
}
.cs-abil-misc {
    .cs-value-field;
    margin-left: 20px;
    width: 40px; 
}
.cs-abil-mod-label, .cs-abil-mod-hl-label, .cs-abil-misc-label {
    margin-left: 20px;
    padding: 0;
    width: 40px;
}

.cs-def-score {
    .cs-value-fakeinput;
    .text-center;
    font-size: 16px;
    font-weight: bold;
    height: @input-height-base;
    width: 50px;
    padding: @input-padding;
    border-radius: @border-radius-base;
}
.cs-def-type {
    .cs-label-lg;
    width: 80px;
}

.cs-def-component() {
    width: 24px; height: 24px;
    border-radius: 0px 0px;
    font-size: 10px;
    padding: 4px;
    margin: 4px 0 0 2px;
}
span.cs-def-component { .cs-value-fakeinput; .cs-def-component(); }
input.cs-def-component { .cs-value-field; .cs-def-component(); }

.cs-def-score-label {
    width: 52px;
}
.cs-def-type-label {
    width: 80px;
    margin-left: 15px;
}
.cs-def-component-label {
    width: 26px;
    text-overflow: clip;
}

/* ===== POWERS ===== */
.cs-powers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-new-power-form {
    margin: 5px;
}
.cs-new-power-name {
    .form-control;
    width: 70%;
}
.cs-new-power-button {
    .btn;
    .btn-default;
    float: right;
    margin-left: 10px;
    width: 25%;
    :hover {
        border: 1px solid @input-border-focus;
    }
}
.cs-power-block input, .cs-power-block textarea {
    .cs-seamless-input;
    width: 100%;
}
.cs-power-attack input {
    .cs-value-field;
    display: inline;
    width: 80px;
}
.cs-power-block {
    margin: 5px 0;
}
.cs-power-body > * {
    display: block;
}
.cs-power-head {
    .panel-heading;
    padding: 0px 8px;
}
.cs-power-name {
    .panel-title;
    font-weight: bold;
    font-size: 16px;
}
.cs-power-used {
    .pull-right;
}
.cs-power-body {
    .panel-body;
    padding: 0 8px;
}
.cs-power-flavor {
    font-style: italic;
    font-size: 12px;
}
.cs-power-properties { }
.cs-power-range { }
.cs-power-target { }
.cs-power-attack { }
.cs-power-desc { }


/* ===== STATUS ===== */
.cs-status-current {
    .cs-label-md;
}
.cs-current-hp-value {
    .cs-value-field;
    margin-left: 15px;
    width: 60px;
 }
.cs-current-hp-label, .cs-temp-hp-label {
    .cs-label-lg;
    margin-left: 5px;
    width: 30px;
}
.cs-temp-hp-value {
    .cs-value-field;
    margin-left: 15px;
    width: 60px;
}

.cs-max-hp-label, .cs-bloodied-hp-label,
.cs-surges-day-label, .cs-surge-hp-label
{
    width: 60px;
    margin-left: 15px;
}

.cs-max-hp-value, .cs-surges-day-value {
    .cs-value-field;
    width: 60px;
    margin-left: 15px;
}

.cs-bloodied-hp-value, .cs-surge-hp-value {
    .cs-value-fakeinput;
    width: 60px;
    margin-left: 15px;
}

/* Hide spinners on input[type="tel"] in Webkit. */
/* http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
