<fieldset class="cs-section cs-abil-scores">
    @* INITIATIVE *@
    <div class="cs-header-block">
        <span class="cs-abil-value-label">score</span>
        <span class="cs-abil-type-label">ability</span>
        <span class="cs-abil-mod-label">mod</span>
        <span class="cs-abil-mod-hl-label">+ ½ lvl</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">INIT</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>

    @* ABILITIES *@
    <div class="cs-header-block">
        <h3 class="cs-section-label">Ability Scores</h3>
        <span class="cs-abil-value-label">score</span>
        <span class="cs-abil-type-label">ability</span>
        <span class="cs-abil-mod-label">mod</span>
        <span class="cs-abil-mod-hl-label">+ ½ lvl</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">STR</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">CON</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">DEX</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">INT</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">WIS</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-abil-value" type="number" value="10" />
        <label class="cs-abil-type">CHA</label>
        <span class="cs-abil-mod">2</span>
        <span class="cs-abil-mod-hl">4</span>
    </div>

    @* DEFENSES *@
    <div class="cs-header-block">
        <h3 class="cs-section-label">Defenses</h3>
        <span class="cs-def-score-label"></span>
        <span class="cs-def-component-label">10 + 2lvl</span>
        <span class="cs-def-component-label">abil</span>
        <span class="cs-def-component-label">class</span>
        <span class="cs-def-component-label">feat</span>
        <span class="cs-def-component-label">enh</span>
        <span class="cs-def-component-label">misc</span>
        <span class="cs-def-component-label">misc</span>
    </div>
    <div class="cs-field-block">
        <span class="cs-def-score">99</span>
        <label class="cs-def-type">AC</label>
        <span class="cs-def-component">12</span>
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" class="cs-def-component">
        <input type="text" class="cs-def-component">
    </div>
    <div class="cs-field-block">
        <span class="cs-def-score">99</span>
        <label class="cs-def-type">FORT</label>
        <span class="cs-def-component">12</span>
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" class="cs-def-component">
        <input type="text" class="cs-def-component">
    </div>
    <div class="cs-field-block">
        <span class="cs-def-score">99</span>
        <label class="cs-def-type">REF</label>
        <span class="cs-def-component">12</span>
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" class="cs-def-component">
        <input type="text" class="cs-def-component">
    </div>
    <div class="cs-field-block">
        <span class="cs-def-score">99</span>
        <label class="cs-def-type">WILL</label>
        <span class="cs-def-component">12</span>
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" value="2" class="cs-def-component">
        <input type="text" class="cs-def-component">
        <input type="text" class="cs-def-component">
    </div>
</fieldset>
