<fieldset class="cs-section cs-status">
    <div class="cs-section-header">
        <h3 class="cs-section-label">Hit Points</h3>
    </div>
    <div class="cs-field-block">
        <span class="cs-status-current">Current</span>
        <input class="cs-current-hp-value" type="tel" ng-class="{ 'text-danger': c.hitpoints.current <= c.hitpoints.bloodied() }" ng-model="c.hitpoints.current" />
        <label class="cs-current-hp-label">HP</label>
        <input class="cs-temp-hp-value" type="tel" ng-model="c.hitpoints.temp" />
        <label class="cs-temp-hp-label">Temp</label>
    </div>
    <div class="cs-header-block">
        <span class="cs-max-hp-label">Max HP</span>
        <span class="cs-bloodied-hp-label">Bloodied</span>
        <span class="cs-surges-day-label">Surges/day</span>
        <span class="cs-surge-hp-label">HP Value</span>
    </div>
    <div class="cs-field-block">
        <input class="cs-max-hp-value" type="tel" ng-model="c.hitpoints.max" />
        <span class="cs-bloodied-hp-value">{{ c.hitpoints.bloodied() }}</span>
        <input class="cs-surges-day-value" type="tel" ng-model="c.hitpoints.surgesPerDay" />
        <span class="cs-surge-hp-value">{{ c.hitpoints.surgeValue() }}</span>
    </div>
    <div class="cs-section-header">
        <a href="#" id="AddWillPowerButton" class="cs-section-control"><i class="fa fa-plus"></i></a>
        <h3 class="cs-section-label">Status Effects</h3>
    </div>
    <div class="cs-section-header">
        <h3 class="cs-section-label">Action Points</h3>
    </div>
</fieldset>