
<fieldset class="cs-section cs-meta">
    <div class="cs-section-header">
        <div ng-hide="$editName">
            <a class="cs-section-control" ng-init="$editName = false" ng-click="$editName = true; $('.cs-status')"><i class="fa fa-edit"></i></a>
            <h3 class="cs-section-label">{{ c.data.name }}</h3>
        </div>
        <div ng-show="$editName">
            <button class="cs-meta-name-button" ng-click="$editName = false">OK</button>
            <input class="cs-meta-name-value" type="text" ng-model="c.data.name" />
        </div>
    </div>
    <div class="cs-field-block">
        <img class="cs-character-picture" onclick="$('#PictureFileInput').trigger('click');" ng-show="c.data.picture" ng-src="{{ c.data.picture }}" />
        <div class="cs-character-picture no-content" onclick="$('#PictureFileInput').trigger('click');" ng-hide="c.data.picture">
            <i class="fa fa-lg fa-user"></i>
            <p>Set Picture</p>
        </div>
        <input type="file" class="hidden-file-input" id="PictureFileInput" cs-file-model="c.data.picture" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-xp-label">XP</label>
        <input class="cs-meta-xp-value" type="tel" ng-model="c.data.experience" />
        <span class="cs-meta-level-label">Level</span>
        <span class="cs-meta-level-value">{{ c.calc.level() }}</span>
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Race</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.race" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Class</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.class" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Diety</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.diety" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Paragon Path</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.paragonPath" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Epic Destiny</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.epicDestiny" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Alignment</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.alignment" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Size</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.size" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Age</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.age" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Gender</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.gender" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Height</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.height" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Weight</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.weight" />
    </div>
    <div class="cs-field-block">
        <label class="cs-meta-label">Party Name</label>
        <input class="cs-meta-value" type="text" ng-model="c.data.adventuringCompany" />
    </div>

    <cs-list-editor title="Feats" source="c.data.feats">
        <li class="cs-list-item" ng-repeat="item in c.data.feats">
            <a href="" class="cs-list-item-remove" ng-click="removeFrom(c.data.feats, item)"><i class="fa fa-trash-o"></i></a>
            <div ng-include="'@Url.Content("~/Scripts/app/templates/cs-basic-editor.html")'"></div>
        </li>
    </cs-list-editor>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Race Features</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.raceFeatures"></textarea>
    </div>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Class/Destiny Features</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.classFeatures"></textarea>
    </div>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Languages Known</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.languages"></textarea>
    </div>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Settings</h3>
    </div>
    <div class="cs-field-block">
        <div class="btn-group btn-group-justified" ng-show="c.data.wallpaper">
            <a class="btn btn-default" onclick="$('#wallpaperFileInput').trigger('click');">Change Wallpaper</a>
            <a href="" class="btn btn-default" ng-click="c.data.wallpaper = null">Remove wallpaper</a>
        </div>
        <div class="btn-group btn-group-justified" ng-hide="c.data.wallpaper">
            <a class="btn btn-default" onclick="$('#wallpaperFileInput').trigger('click');">Set Wallpaper</a>    
        </div>
        <input type="file" class="hidden-file-input" id="wallpaperFileInput" cs-file-model="c.data.wallpaper" />
    </div>

    <div class="cs-field-block">
        <span class="cs-block-label">Background Opacity</span>
        <slider ng-model="c.data.wallpaperOpacity" floor="0" ceiling="1" step=".02" precision="2"></slider>
    </div>

    <div class="cs-field-block">
        <button ng-click="delete()" ng-disabled="!canDelete()" class="cs-delete-button">Delete {{ c.data.name }}</button>
    </div>
</fieldset>