<fieldset class="cs-section cs-notes">
    <div class="cs-section-header">
        <h3 class="cs-section-label">Companions &amp; Allies</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.companions"></textarea>
    </div>
    <div class="cs-section-header">
        <h3 class="cs-section-label">Session and Campaign</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.sessionNotes"></textarea>
    </div>
    <div class="cs-section-header">
        <h3 class="cs-section-label">Personality Traits</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.personality"></textarea>
    </div>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Appearance &amp; Mannerisms</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.appearance"></textarea>
    </div>

    <div class="cs-section-header">
        <h3 class="cs-section-label">Character Background</h3>
    </div>
    <div class="cs-field-block">
        <textarea ng-model="c.data.background"></textarea>
    </div>
</fieldset>
